doctype html
meta( charset = 'utf-8' )

div( p-model = 'hello' )
    // hello.message
    span( p-bind = 'message' )

    div( model = 'world' )
        // world.message
        span( p-bind = 'message' )

        div( model = 'hello' )
            // hello.message
            span( p-bind = 'message' )

                div( model = 'world' )
                    // world.message
                    span( p-bind ='message' )

script( src = 'bundle.js' )
